.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  justify-content: center;

  color: var(--off-white-color);
}

​.container--text {
  width: min(45em, 100%);
}

.masthead {
  background-color: var(--dominant-color);
}

.masthead h1 {
  margin: 0;
}
