.weather {
  background-color: var(--dominant-color-shade-3);
}

.weather .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-title {
  text-align: center;
}
