.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 5rem;

  border: 0.25rem solid rgba(0, 0, 0, 0.706);

  background-color: var(--dominant-color);
  transition: border 0.3s ease;
}

.card-city {
  text-align: center;
}

.card:hover {
  border: 0.25rem solid #fff;
  box-shadow: 0 0 0.75rem 0.125rem var(--off-white-color);
}

.card-button {
  padding: 0.15rem 1.25rem;
  font-size: 1.15rem;
}
